<div class="wrapper fadeInDown">
    <div id="formContent">
        <div>
            <img src="assets/images/UMatters.png" id="icon" alt="UMatters"/>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email Unamur</label><br>
                <input type="text" formControlName="email" class="form-control" placeholder="Adresse mail Unamur" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Une adresse mail est nécessaire</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Un mot de passe est nécessaire</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="/register" class="btn btn-link">Register</a>
                <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
            </div>
        </form>
    </div>
</div>