  <body onload="graphs();statistics()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
    <img src="images/UMatters.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Panneau Administration
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Répondre aux propositions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="reponse.html#Admin">Conseil d'administration</a>
          <a class="dropdown-item" href="reponse.html#Fac">Facultaire</a>
          <a class="dropdown-item" href="reponse.html#AGE">AGE</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="signalements.html">Signalements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="utilisateurs.html">Utilisateurs bloqués</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin:1em">
        <a href="login.html" class="btn btn-primary">Login</a>
    </ul>
    </div>
    </nav>
    <div class="row justify-content-center" style="margin-top: 1rem;">
        <div class="col-sm-auto">
            <div class="card text-white bg-success mb-3" style="min-width: 18rem;max-width: 18rem;min-height: 12.5rem;max-height: 12.5rem;">
              <div class="card-header"><b>Utilisateurs uniques</b></div>
              <div class="card-body">
                <h5 class="card-title" id="count_users"></h5>
                <p class="card-text">Nombre d'utilisateurs uniques qui se sont connectés dans les 24 dernières heures.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card text-white bg-success mb-3" style="min-width: 18rem;max-width: 18rem;min-height: 12.5rem;max-height: 12.5rem;">
              <div class="card-header"><b>Nombre total de propositions</b></div>
              <div class="card-body">
                <h5 class="card-title" id="count_box"></h5>
                <p class="card-text">Le nombre de propositions postées sur la plateforme.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card text-white bg-info mb-3" style="min-width: 18rem;max-width: 18rem;min-height: 12.5rem;max-height: 12.5rem;">
              <div class="card-header"><b>Dernière proposition</b></div>
              <div class="card-body">
                <h5 class="card-title" id="latest_box_date"></h5>
                <p class="card-text"><a class="text-white" href="#proposition" id="latest_box_content"></a></p>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card text-white bg-danger mb-3" style="min-width: 18rem;max-width: 18rem;min-height: 12.5rem;max-height: 12.5rem;">
              <div class="card-header"><a class="text-white" href="signalements.html"><b>Signalements</b></a></div>
              <div class="card-body">
                <h5 class="card-title" id="count_signalement"></h5>
                <p class="card-text">Nombre de signalements non traités sur la plateforme.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card text-white bg-danger mb-3" style="min-width: 18rem;max-width: 18rem;min-height: 12.5rem;max-height: 12.5rem;">
              <div class="card-header"><a class="text-white" href="utilisateurs.html"><b>Utilisateurs bloqués</b></a></div>
              <div class="card-body">
                <h5 class="card-title" id="count_blocked_users"></h5>
                <p class="card-text">Nombre d'utilisateurs bloqués.</p>
              </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 1rem;">
        <div class="col-sm-auto">
            <div class="card bg-light mb-3" style="max-width: 100%;">
              <div class="card-header"><b>Les TAGS les plus utilisés</b></div>
              <div class="card-body">
                <canvas id="tagChart" width="723" height="310"></canvas>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card bg-light mb-3" style="max-width: 100%;">
              <div class="card-header"><b>Utilisateurs les plus actifs (dernier mois)</b></div>
              <div class="card-body">
                <canvas id="userChart" width="723" height="310"></canvas>
              </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 1rem;">
        <div class="col-sm-auto">
            <div class="card bg-light mb-3" style="max-width: 100%;">
              <div class="card-header"><b>Nombre d'utilisateurs des 7 derniers jours</b></div>
              <div class="card-body">
                <canvas id="nbrUserChart" width="723" height="310"></canvas>
              </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card bg-light mb-3" style="max-width: 100%;">
              <div class="card-header"><b>Nombre de propositions des 7 derniers jours</b></div>
              <div class="card-body">
                <canvas id="nbrPropositionChart" width="723" height="310"></canvas>
              </div>
            </div>
        </div>
    </div>
  </body>